body{font-family: "Open Sans", "Helvetica", sans;background-color:rgb(230,230,230);}

#main_form{background-color:red;max-width:900px;padding:0px 30px;margin:0 auto;background-color:white;padding-bottom:60px;}
#main_form h4{font-style:italic;color:gray;}
#main_form .disclaimer{margin:30px 0px;}
#main_form .ifyes{padding-left: 30px;}
#main_form button[type=submit]{margin-top:40px;}

#main_form form.filled input,#main_form.filled textarea,#main_form.filled select{outline:none;box-shadow:none !important;border:none;border-bottom:2px solid black;border-radius: 0;background-color: transparent;color:black;font-weight:bold;font-family:"monospace";}
#main_form form.filled select{color:black;}
#main_form form.filled input:hover, #main_form form.filled textarea:hover, #main_form form.filled textarea:focus{outline:none;box-shadow:none !important;}
#main_form form.filled textarea{border:2px solid black;background-color:white;border-radius: 0px}
#main_form form.filled .ifyes{display:none;}

#main_form form.filled div.captcha{display:none;}

input.big_checkmark{display:none;}
label.big_checkmark{font-weight:bold;background:url("cross.png") left no-repeat;margin-left:20px;}
